* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container_theme {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
  background: #f5f9fe;
}
header .header__container {
  height: 80px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
header .header__container .logo {
  font-size: 36px;
  color: #2a73dd;
}
header .header__container nav a {
  text-decoration: none;
  color: #1d365e;
  margin-left: 15px;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}
header .header__container nav a:hover {
  color: #2a73dd;
}
header .header__container nav a::before {
  content: "";
  display: block;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  background: #1d365e;
  height: 2px;
  position: absolute;
  transition: 0.3s;
}
header .header__container nav a:hover::before {
  background: #2a73dd;
  width: 100%;
}
header .header__container nav a.active {
  color: #2a73dd;
}
header .header__container nav a.active::before {
  width: 100%;
  background: #2a73dd;
}

#banner {
  background-image: url("../image/product-header-bg.jpg");
  background-size: cover;
  background-position: bottom;
}
#banner #banner__title h2 {
  color: #2a73dd;
}
#banner #banner__title .title__desc {
  color: #1d365e;
}
#banner #banner__title .btn-infor,
#banner #banner__title .btn-shop {
  font-size: 18px;
  padding: 15px 35px;
  border-radius: 8px;
}
#banner #banner__title .btn-infor i,
#banner #banner__title .btn-shop i {
  margin-right: 10px;
}
#banner #banner__title .btn-infor {
  border: 2px solid #2a73dd;
  color: #2a73dd;
}
#banner #banner__title .btn-shop {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: white;
}

#products .products__title {
  color: #1d365e;
}
#products .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}
#products .item img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  margin-bottom: 10px;
}
#products .item .left,
#products .item .right {
  display: flex;
  justify-content: space-between;
  height: 100px;
  flex-direction: column;
}
#products .item .left {
  flex-shrink: 0;
}
#products .item .right {
  flex-grow: 1;
  align-items: flex-end;
}/*# sourceMappingURL=index.css.map */