* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
// blue
$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;
$color-blue-3: #60a4f4;
// white
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$font-size-1: 36px;
$font-size-2: 18px;

// mixin

@mixin button-theme {
  font-size: $font-size-2;
  padding: 15px 35px;
  border-radius: 8px;
}
@mixin boxShadow-them($base) {
  box-shadow: $base * 1px $base * 1px $base * 2px $color-white-2,
    $base * -1px $base * -1px $base * 2px $color-white-3;
}

// atomic css ~ css in js
.container_theme {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 4px $color-white-2;
  background: $color-white-1;
  .header__container {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    display: flex;

    .logo {
      font-size: $font-size-1;
      color: $color-blue-1;
    }

    nav {
      // &:hover a {
      // }
      a {
        text-decoration: none;
        color: $color-blue-2;
        margin-left: 15px;
        font-size: $font-size-2;
        transition: 0.3s;
        position: relative;
        &:hover {
          color: $color-blue-1;
        }
        &::before {
          content: "";
          display: block;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          width: 0%;
          background: $color-blue-2;
          height: 2px;
          position: absolute;
          transition: 0.3s;
        }
        &:hover::before {
          background: $color-blue-1;
          width: 100%;
        }
      }
      a.active {
        color: $color-blue-1;

        &::before {
          width: 100%;
          background: $color-blue-1;
        }
      }
    }
  }
}

#banner {
  background-image: url("../image/product-header-bg.jpg");

  background-size: cover;
  background-position: bottom;

  #banner__title {
    h2 {
      color: $color-blue-1;
    }
    .title__desc {
      color: $color-blue-2;
    }
    .btn-infor,
    .btn-shop {
      @include button-theme();
      i {
        margin-right: 10px;
      }
    }

    .btn-infor {
      border: 2px solid $color-blue-1;
      color: $color-blue-1;
    }
    .btn-shop {
      background: linear-gradient(120deg, $color-blue-3, $color-blue-1);
      color: white;
    }
  }
}

#products {
  .products__title {
    color: $color-blue-2;
  }
  .item {
    @include boxShadow-them(6);
    img {
      @include boxShadow-them(6);
      margin-bottom: 10px;
    }

    .left,
    .right {
      display: flex;
      justify-content: space-between;
      height: 100px;
      flex-direction: column;
    }
    .left {
      flex-shrink: 0;
    }
    .right {
      flex-grow: 1;
      align-items: flex-end;
    }
  }
}
